<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="description" content="The Open Pixel Art project is a collaborative art project designed to teach you how to contribute to open-source.">
    <title>Open Pixel Art by Twilio</title>
    <link rel="shortcut icon" href="https://www.twilio.com/marketing/bundles/marketing/img/favicons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Press+Start+2P&display=swap" rel="stylesheet">
    <link href="/assets/nes.css/nes.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="styles/main.css"/>
  </head>
  <body>
    <header>
      <hgroup>
        <h1>Open Pixel Art</h1>
        <h2>by
          <a class="twilio-link" href="https://www.twilio.com/">Twilio</a>
        </h2>
      </hgroup>
      <nav>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nes-btn" href="#about">About the Project</a>
          </li>
          <li class="nav-item">
            <a class="nes-btn" href="#contributing">Contribute a Pixel</a>
          </li>
          <li class="nav-item">
            <a class="nes-btn" href="#contributors">See All Contributors</a>
          </li>
        </ul>
      </nav>
    </header>

    <main role="main">
      <section id="canvas" class="nes-container with-title">
        <svg viewbox="0 0 {{defaults.image.width * defaults.image.scale}} {{defaults.image.height * defaults.image.scale}}">
          <rect x="0" y="0" width="100%" height="100%" style="fill: {{defaults.image.background}}"/>
          {% for pixel in pixels.data %}
            {% if pixel.color %}
              <rect x="{{pixel.x * defaults.image.scale}}" y="{{(defaults.image.height - pixel.y - 1) * defaults.image.scale}}" width="{{defaults.image.scale}}" height="{{defaults.image.scale}}" style="fill: {{pixel.color}}"/>
            {% elif pixel.tileName %}
              <image xlink:href="assets/tiles/{{pixel.tileName}}.png" width="{{defaults.image.scale * 5}}" height="{{defaults.image.scale * 5}}" x="{{pixel.x * defaults.image.scale}}" y="{{(defaults.image.height - pixel.y - 5) * defaults.image.scale }}"/>
            {% endif %}
          {% endfor %}
          {% if env.isLocal %}
            <!-- Lines for debug purposes -->
            {% for horizontal in range(0, defaults.image.width) %}
              <line y1="{{horizontal * defaults.image.scale}}" y2="{{horizontal * defaults.image.scale}}" x1="0" x2="{{defaults.image.height * defaults.image.scale}}" stroke-width="1" stroke="#aaa"/>
            {% endfor %}
            <line x1="{{defaults.image.width * defaults.image.scale}}" x2="{{defaults.image.width * defaults.image.scale}}" y1="0" y2="{{defaults.image.height * defaults.image.scale}}" stroke-width="1" stroke="#aaa"/>
            {% for vertical in range(0, defaults.image.height) %}
              <line x1="{{vertical * defaults.image.scale}}" x2="{{vertical * defaults.image.scale}}" y1="0" y2="{{defaults.image.width * defaults.image.scale}}" stroke-width="1" stroke="#aaa"/>
            {% endfor %}
            <line y1="{{defaults.image.height * defaults.image.scale}}" y2="{{defaults.image.height * defaults.image.scale}}" x1="0" x2="{{defaults.image.width * defaults.image.scale}}" stroke-width="1" stroke="#aaa"/>
          {% endif %}
        </svg>
      </section>
      <section class="nes-container with-title">
        <h2 class="title" id="about">About the Project</h2>
        <p>Welcome to the Open Pixel Art project.</p>
        <p>
          This is an art project created with the intention to teach you how to create a pull request.
        </p>
        <p>
          Anyone who wishes to learn how to create a pull request for a project on GitHub can use this project to contribute a pixel to the canvas. You will only be able to ever create one pixel but you can pix whatever color you prefer as long as it is a valid HEX code. For example:
          <code>#F22F46</code>
          the brand color of
          <a href="https://www.twilio.com/">Twilio</a>
        </p>
        <div class="nes-container is-dark">
          <p>
            If you are new to open-source, GitHub or git in general, fear not, we created a tutorial in
            <a href="https://www.twilio.com/quest">TwilioQuest</a>
            for you. It will teach you step by step on how you can get started and will guide you on your quest of creating your pull request.
          </p>
          <p class="text-center">
            <a class="nes-btn is-primary">Download TwilioQuest</a>
          </p>
        </div>
        <p>
          The entire project is automated and is largely maintained by a set of bots that will verify any pixel contributions. However, if you'd like to know more about the project or submit other contributions to the project that are not a pixel, feel free to create a
          <a href="https://github.com/twilio-labs/open-pixel-art/issues">GitHub issue</a>
          inside the
          <a href="https://github.com/twilio-labs/open-pixel-art">Open Pixel Art project</a>.
        </p>
      </section>
      <section class="nes-container with-title">
        <h2 id="contributing" class="title">Contribute a Pixel</h2>
        <p>
          In order to contribute a pixel to the canvas, you'll have to create a
          <a href="https://opensource.guide/how-to-contribute/#opening-a-pull-request">pull request</a>
          to the
          <a href="https://github.com/twilio-labs/open-pixel-art">Open Pixel Art project on GitHub</a>.
        </p>
        <p>
          If you are already familiar with git and how to create a pull request on GitHub, you can go ahead and check out the
          <a href="https://github.com/twilio-labs/open-pixel-art/blob/master/CONTRIBUTING.md">contributing guide</a>.
        </p>
        <p>
          We understand that contributing to open-source can be intimidating and as a result we created a mission in our interactive coding game
          <a href="https://www.twilio.com/quest">TwilioQuest</a>
          that will walk you step by step through creating a pull request for this project and help you embark on your new quest into open-source!
        </p>
        <p class="text-center">
          <i class="nes-octocat" aria-hidden="true"></i>
        </p>
        <p class="text-center">
          <a class="nes-btn is-primary" href="https://www.twilio.com/quest/download">Download TwilioQuest</a>
          <a class="nes-btn" href="https://github.com/twilio-labs/open-pixel-art/blob/master/CONTRIBUTING.md">Check out the Contributing Guide</a>
        </p>
      </section>
      <section class="nes-container with-title">
        <h2 class="title" id="contributors">Thank you for Contributing</h2>
        <p class="text-center">
          <i class="nes-icon is-large heart" aria-hidden="true"></i>
        </p>
        <p>Thank you to everyone who contributed to the project! You can find the whole list of contributors on GitHub.</p>
        <p class="text-center">
          <a class="nes-btn" href="https://github.com/twilio-labs/open-pixel-art/graphs/contributors">View Contributors</a>
        </p>
      </section>
    </main>
    <footer class="text-center">
      <a href="https://github.com/twilio-labs/open-pixel-art">
        <i class="nes-icon github" aria-hidden="true"></i>
        <span class="screenreader-only">View on GitHub</span>
      </a>
    </p>
    <p>Created by
      <a href="https://www.twilio.com/" class="twilio-link">Twilio</a>
      with and for the community.</a>
    <p></footer>
  </body>
</html>